<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>User List</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-style.css}" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script th:src="@{/js/jquery-1.12.4.min.js}" ></script>
</head>
<body class="new-layout roboto-regular">
<div class="container-custom">
  <div class="sidebar">
    <span class="toggle-sidebar"><i class="fa fa-caret-left"></i></span>
    <div class="sidebar-inner">
      <div class="logo-wrapper">
        <a th:href="@{/}">FoodChain</a>
      </div>
      <form th:action="@{/users}" method="GET">
        <div class="form-group">
          <input type="text" class="form-control search-box" name="search" placeholder="Search..." th:value="${param.search}">
        </div>
        <!--role filter start-->
        <div class="form-group-custom">
    <span>
        <label>Role</label>
        <sup>clear</sup>
    </span>
          <div class="filter-wrapper">
            <div th:each="role : ${roles}">
              <input type="checkbox" id="role_${role}" name="role" th:value="${role}"
                     th:checked="${selectedRoles != null and selectedRoles.contains(role)}">
              <label th:for="'role_' + ${role}" th:text="${role}" class="roboto-regular"></label>
            </div>
          </div>
        </div>
        <!--role filter end-->
        <button type="submit" id="BUTTON_1">
          <span id="SPAN_2">Search</span>
        </button>
      </form>
    </div>
  </div>
  <div class="main-content">
    <div class="header-nav">
      <ul class="navigation-list">
        <li><a href="#" th:href="@{/organization/}"><i class="fa fa-building"></i><span>Kitchens</span></a></li>
        <li><a href="#" th:href="@{/users}"><i class="fa fa-users"></i><span>Users</span></a></li>
        <li><a href="#" th:href="@{/skill/}"> <i class="fa fa-cogs"></i><span>Options</span></a></li>
      </ul>
      <ul class="navigation-list">
        <li><a href="#" th:href="@{/logout}"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        <li style="display:none"><a href="#" th:href="@{/swagger-ui/}"> <i class="fa fa-book"></i><span>API Doc</span></a></li>
      </ul>
    </div>
    <div class="main-content-inner">
      <h1>User List</h1>
      <a th:href="@{/registration}" class="add-content"> <i class="fa fa-plus" aria-hidden="true"></i>Add User</a>
      <div class="content">
        <table class="table table-striped table-responsive-md">
          <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="users : ${listusers}">
            <td th:text="${users.firstName}"></td>
            <td th:text="${users.lastName}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.role}"></td>
            <td> <a th:href="@{/registration/update/{userId}(userId=${users.id})}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
              <a th:href="@{/registration/delete/{userId}(userId=${users.id})}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <tr th:if="${listusers.size() < 1}">
            <td colspan="7" class="no-record">No Record Found</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
<!-- toggle sidebar -->
      $('.toggle-sidebar').on('click', function(){
          $('.new-layout .sidebar').toggleClass('side-collapsed')
      })

<!--  toggle sidebar filters -->
      $('.new-layout form .form-group-custom > span > label').on('click', function(){
          $(this).parent().siblings('div').toggleClass('hidden')
      })

<!--    uncheck all checkbox under clicked filter section    -->
      $('sup').on('click', function(){
          $(this).parent().parent().find('input[type="checkbox"]').each(function(){
              $(this).prop('checked', false);
              $(this).attr('checked', false);
          })
      })
  })
</script>
</body>
</html>
